CONFIG=/root/.jitsi-meet-cfg
PUBLIC_URL=https://meeting.yourdomain.com
PUBLIC_URL_DOMAIN=meeting.yourdomain.com
DOCKER_HOST_ADDRESS=YOUR_SERVER_PUBLIC_IP
TZ=Europe/Istanbul

ENABLE_LETSENCRYPT=1
LETSENCRYPT_EMAIL=your-email@example.com

HTTP_PORT=80
HTTPS_PORT=443
JVB_PORT=10000

JICOFO_COMPONENT_SECRET=SecretJicofoComp123
JICOFO_AUTH_SECRET=SecretJicofoAuth123
JVB_AUTH_SECRET=SecretJvbAuth123
JVB_TCP_HARVESTER_DISABLED=true

XMPP_DOMAIN=meet.jitsi
XMPP_AUTH_DOMAIN=auth.meet.jitsi
XMPP_MUC_DOMAIN=muc.meet.jitsi
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
XMPP_GUEST_DOMAIN=guest.meet.jitsi