# --- SUNUCU & DIŞ ERİŞİM AYARLARI ---
CONFIG=/root/.jitsi-meet-cfg
PUBLIC_URL=https://meeting.ercan.com.tr
PUBLIC_URL_DOMAIN=meeting.ercan.com.tr
DOCKER_HOST_ADDRESS=192.168.1.100
TZ=Europe/Istanbul

# --- FREE SSL (LET'S ENCRYPT) ---
ENABLE_LETSENCRYPT=1
LETSENCRYPT_EMAIL=ercan@example.com

# --- PORT AYARLARI ---
HTTP_PORT=80
HTTPS_PORT=443
JVB_PORT=10000